.container {
  padding: 0
}

body {
  background: #eeeeee;
  font-family: 'Lora', serif;
  /*text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);*/
}

a, a:hover, a:visited, a:active {
  color: purple;
  font-family: 'Lora', serif;
  font-weight: bold;
}

.front-page {
  text-align: center;
}

.bottom {
  border-bottom: 1px solid purple;
  padding-bottom: 15px;
}

.col-sm-4 i {
  font-size: 4em;
  color: purple;
  padding-top: 10%;
}

img {
  margin-top: 5%;
  border-radius: 25px;
}

h1, h2, h3 {
  padding-top: 1.5%;
  font-family: 'Cinzel', serif;
}

#headline {
  font-family: 'Cinzel', serif;
  font-weight: bold;
  font-size: 2em;
  text-decoration: none;
}

#class-enroll {
  background-color: purple;
  color: #eee;
}

#class-enroll h3 {
  margin: 5px;
}

.students-enrolled {
  padding-top: 20%;
}

#message {
  font-size: 2em;
  font-weight: bold;
}

.fa-leaf {
  color: #2d862d;
}

.btn-danger {
  margin-top: 1.5%;
  padding-left: 1.25%;
  padding-right: 1.25%;
}

.thumbnail {
  width: 125px;
  height: 125px;
  text-align: center;
  padding-top: 15px;
  background-color: lavender;
}

.delete-right {
  text-align: right;
}
