
<div class="row">
  <div class="col-sm-4 front-page">
    <h1><i class="fa fa-university"></i></h1>
    <h3><a href="/teachers">Teacher Portal</a></h3>
  </div>
  <div class="col-sm-4 front-page">
    <h1><i class="fa fa-map"></i></h1>
    <h3><a href="/courses">Browse Courses</a></h3>
  </div>
  <div class="col-sm-4 front-page">
    <h1><i class="fa fa-mortar-board"></i></h1>
    <h3><a href="/students">Student Portal</a></h3>
  </div>
</div>
