<h1>My Form</h1>
<form action='/result'>
  <div class="form-group">
    <label for="item1">Item 1: </label>
    <input id="item1" name="item1" class="form-control" type="text">
  </div>

  <button type='submit' class='btn'>Get Results!</button>
</form>
