<!DOCTYPE html>
<html>
  <head>
    <title>Trump University</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css'>
    <link rel='stylesheet' href='/app.css'>
  </head>
  <body>
    <div class="container">
      <h1><a href="/">Trump Online University</a></h1>
      <h2>We are the greatest, best, most awesome university ever, trust us!!!</h2>

      #parse( $template )
    </div>
  </body>
</html>
