<!DOCTYPE html>
<html>
  <head>
    <title>Online University</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css'>
    <!-- <link rel="stylesheet" href="http://getbootstrap.com/examples/sticky-footer-navbar/sticky-footer-navbar.css"> -->
    <link rel='stylesheet' href='/app.css'>
    <link href="https://fonts.googleapis.com/css?family=Cinzel:400,700|Lora:400,400i,700" rel="stylesheet">
    <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
    <script>tinymce.init({ selector:'textarea' });</script>
  </head>
  <body>
    <div class="container">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">OU</a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li><a href="/students">Enroll in OU</a></li>
              <li><a href="/courses">Browse Courses</a></li>
              <li><a href="/teachers">Become a Teacher!</a></li>
              <li class="dropdown">
                <a href="/students" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Students<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="/students">Student Portal</a></li>
                  #if($user_id)
                    #if($user_type.equals("student"))
                      <li><a href="/students/$user_id">My Courses</a></li>
                    #end
                  #end
                </ul>
              </li>
              <li class="dropdown">
                <a href="/teachers" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Teachers<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="/teachers">Teacher Portal</a></li>
                  #if($user_id)
                    #if($user_type.equals("teacher"))
                      <li><a href="/teachers/$user_id">My Courses</a></li>
                    #end
                  #end
                </ul>
              </li>
            </ul>
            #if($user_id)
            <form action="/logout" class="navbar-form navbar-right" method="post">
              <button type ="submit" class = "btn btn-default">Logout</button>
            </form>
            #end
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>

        <h1 class="front-page"><a id="headline" href="/">Online University</a></h1>
        <h2 class="front-page bottom">Learn from Home on your Own Schedule!</h2>
        <hr>
      #if($message)
        <h4 id="message">$message<i class="fa fa-leaf"></i></h4>
      #end


      #parse( $template )

    </div>
    <!-- <footer class="footer">
      <div class="container">
        <a href="/">Home</a>
      </div>
    </footer> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>
