<h3>Student Course</h3>
<p><a href="/">Home</a>: <a href="/students/1">Student</a>: <a href="/students/1/courses/1">Course</a>: <a href="/students/1/courses/1/lessons/1">Lesson</a>: <a href="/students/1/courses/1/lessons/1/assignments/1">Assignment</a></p>

<p>Course grade so far</p>
<p>General information (or announcements) about course</p>
<p>List of <a href="/students/1/courses/1/lessons/1">Lessons</a> in the course.</p>
