<h3>$assignment.getName()</h3>
<p><a href="/">Home</a>: <a href="/teachers/1">Teacher</a>: <a href="/teachers/1/courses/1">Course</a>: <a href="/teachers/1/courses/1/lessons/1">Lesson</a>: <a href="/teachers/1/courses/1/lessons/1/assignments/1">Assignment</a></p>

<p>Grade student assignment</p>
<p>View student submitted assignment</p>
