<h3>Teacher Lesson</h3>
<p><a href="/">Home</a>: <a href="/teachers/1">Teacher</a>: <a href="/teachers/1/courses/1">Course</a>: <a href="/teachers/1/courses/1/lessons/1">Lesson</a>: <a href="/teachers/1/courses/1/lessons/1/assignments/1">Assignment</a></p>

<p>View Lesson</p>
<p>Edit Lesson</p>
<p>List of <a href="/teachers/1/courses/1/lessons/1/assignments/1">Assigmnents</a> in the lesson.</p>
<p>Add assignments form</p>
<li>Sublist of each <a href="/teachers/1/courses/1/lessons/1/assignments/1">Student Submissions for each Assignment</a></li>
